@import "compass/css3";
@charset "utf-8";

// generic transform
@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}

// rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

// scale
@mixin scale($scale) {
   @include transform(scale($scale));
}

$sprites-spacing: 10px;
$sprites-layout: horizontal;
$font1: Arial,Helvetica,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','Meiryo UI','メイリオ','ＭＳ Ｐゴシック',sans-serif;
$font2: "Arial Black";

@import "html5reset";

html {
	min-height: 100%;
}

body {
	font-size: 10px;
	min-height: 100%;
	font-family:$font1;
	background: url(../images/bg.jpg) top center no-repeat fixed;
	background-size: 100% 100%;
}

.ui-loader {
  display: none !important;
}

.ui-page {
  min-height: 0 !important;
}

.transparent-bg {
  filter: alpha(opacity=60);
  opacity: 0.6;
}

.solid-bg {
  filter: alpha(opacity=100);
  opacity: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}

.circle {
  border-radius: 50%;
}


