<script type="text/ejs" id="nav">
  <ul class="nav-circle">
    <li><span></span></li>
    <li><span></span></li>
    <li><span></span></li>
    <li><span></span></li>
    <li><span></span></li>
  </ul>
</script>