<script type="text/ejs" id="nav">
  <ul class="nav-circle">
    <li>
      <span></span>
      <ul id="sub-nav1" class="sub-nav"></ul>
    </li>
    <li><span></span></li>
    <li><span></span></li>
    <li><span></span></li>
    <li><span></span></li>
  </ul>
</script>

<script type="text/ejs" id="sub-nav1">
  <li>First nav</li>
  <li>Second nav</li>
  <li>Third nav</li>
  <li>Fourth nav</li>
  <li>Fifth nav</li>
</script>